<div class="container">
	<h3>Add Places</h3>
	<hr>
	<form>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Place Name</label>
	    <input type="text" class="form-control" aria-describedby="emailHelp">
	    <small id="emailHelp" class="form-text text-muted">Please enter a valid email</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">City</label>
	    <input type="text" class="form-control">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Pincode</label>
	    <input type="text" class="form-control" aria-describedby="emailHelp">
	    <small id="emailHelp" class="form-text text-muted">Please enter a valid email</small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Latitude And Longitude</label>
	    <input type="text" class="form-control">
	  </div>
	  <p>Ratings</p>
	  <ul class="list-group">
		  <li class="list-group-item">1</li>
		  <li class="list-group-item">2</li>
		  <li class="list-group-item">3</li>
		  <li class="list-group-item">4</li>
		  <li class="list-group-item">5</li>
		</ul>
		<br>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	  <br>
</div>
